{% extends 'core/base.html' %}

{% block content %}
{# --- [수정] 페이지 헤더 구조 변경 --- #}
<div class="page-header">
    <div>
         <a href="{% url 'orders:list_error' order.order_date|date:'Y-m-d' %}" class="btn btn-secondary">뒤로가기</a>
    </div>
    <h1>{{ page_title }}</h1>
    <div class="btn-group"></div>
</div>

<div class="form-container">
    <div class="form-group">
        <label>오류 내용:</label>
        <textarea class="form-control" readonly rows="2" style="color: var(--danger-color);">{{ order.error_message }}</textarea>
    </div>
    <hr>
    
    <form id="main-form" method="post">
        {% csrf_token %}
        
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
                <div class="error-list">{{ field.errors }}</div>
            {% endif %}
        </div>
        {% endfor %}

        <div class="form-actions">
            {# 상단으로 이동했으므로 하단에서는 삭제 #}
            <button type="submit" class="btn btn-primary">수정 완료</button>
        </div>
    </form>
</div>
{% endblock %}