{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}">
{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}
{% block usertools %}{% endblock %}
{% block nav-global %}{% endblock %}
{% block content_title %}{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="container">
    <div id="content-main">
        <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
            <div class="form-row">
                {{ form.username.errors }}
                <label for="{{ form.username.id_for_label }}">
                    <i class="fas fa-user-circle"></i> {{ form.username.label }}
                </label>
                {{ form.username }}
            </div>
            <div class="form-row">
                {{ form.password.errors }}
                <label for="{{ form.password.id_for_label }}">
                    <i class="fas fa-lock"></i> {{ form.password.label }}
                </label>
                {{ form.password }}
                <input type="hidden" name="next" value="{{ next }}">
            </div>
            {% url 'admin_password_reset' as password_reset_url %}
            {% if password_reset_url %}
            <div class="password-reset-link">
                <a href="{{ password_reset_url }}">{% translate 'Forgotten your password or username?' %}</a>
            </div>
            {% endif %}
            <div class="submit-row">
                <button type="submit" class="button">{% translate 'Log in' %}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}