:root {
  --primary: #ef831e;
  --primary-dark: #233140;
  --secondary: #3498db;
  --light-gray: #f5f7fa;
  --text-color: #333;
  --border-color: #e4e7ea;

  --sidebar-width: 250px;
  --header-height: 60px;
  --main-bg-color: #f4f7f6;
  --sidebar-bg-color: #34495e;
  --font-color: #ecf0f1;
  --accent-color: #1abc9c;
  --danger-color: #e74c3c;
  --info-color: #3498db;
  --secondary-color: #95a5a6;
}